
html {
    overflow-y: scroll;
}

.btn-primary {
    background-color: #37BEB0 !important;
    border: #37BEB0 !important;
}

.btn-primary:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.btn-outline-primary {
    --bs-btn-color: #37BEB0 !important;
    --bs-btn-border-color: #37BEB0 !important;
    --bs-btn-hover-bg: #37BEB0 !important;
    --bs-btn-hover-border-color: #37BEB0 !important;
}

.btn-danger {
    background-color: #0C6170 !important;
    border: #0C6170 !important;
}

.card {
    background-color: #DBF5F0 !important;
}

.side-bar-item {
    font-weight: bold;
}

.side-bar-item:hover {
    background-color:rgb(205, 202, 200);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
 }

.side-bar-item:selected {
    background-color: rgb(179, 179, 179);
 }
 


/* .card, .btn, .form-control { border-radius: 0; } */